/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#randomNumber{
  font-size: 500px;
  text-align: center;
  margin: 50px auto;
  font-family: Righteous, sans-serif;
  color: red;
}

body{
  background-color: #ADD8E6;
}

.generate-refresh {
  height: 125px;
  font-size: 50px;
  font-family: Righteous, sans-serif;
  font-weight: 400;
  border-radius: 25px;
  border: 0px;
  width: 800px;
  background-color: #606fb850;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer
  transition: background-color 200ms linear;
}

.generate-refresh:hover{
  background-color: #9f9fa8
}
  
