/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#randomNumber{
  font-size:500px;
  text-align:center;
  margin:50px auto;
  font-family: Righteous, sans-serif;
  color: red;
}

body{
  background-color: light-blue;
}

.generate-refresh {
  height: 100px;
  font-size: 25px;
  font-family: Righteous, sans-serif;
  font-weight: 900;
  border-radius: 15px;
  border: 0px;
  width: 400px;
  background-color: #606fb850;
  transition: background-color 200ms linear;
}

.generate-refresh:hover{
  background-color: #9f9fa8
}
  
